.brands-ad {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5rem;
  margin-bottom: 5rem;

  &__item {
    width: 15rem;
    cursor: pointer;
    filter: grayscale(100%);

    &:not(:first-child) {
      margin-left: 10rem;
    }

    &:hover {
      filter: grayscale(0);
    }
  }
}
