tr
  td(align='center' bgcolor=bodyBackgroundColor)

    // [if (gte mso 9)|(IE)]>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
        <td align="center" valign="top" width="600">
        <![endif]


    table(border='0' cellpadding='0' cellspacing='0' width='100%' style='max-width: 600px')
      tr
        td(align='left' bgcolor='#ffffff' style="padding: 36px 24px 0; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; border-top: 3px solid #d4dadf;")
          h1(style='margin: 0; font-size: 32px; font-weight: 700; letter-spacing: -1px; line-height: 48px;')
            | #{heading}
    
    
    // [if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]