extends base/_base

block append variables 
  -
    bodyBackgroundColor = '#d2c7ba';

block content
  include components/_text
  include components/_order-table

block outerContent

  include components/_order-address