extends base/_login-signup

block loginSignupContent
  h2.heading-quadinary.heading-quadinary--2 Login #{loginToContinue ? ' to continue': ''}
  form.form#login-form(action='#')
    .form__group
      label.form__label(for='email')
        span.form__star *
        | Email
      input.form__input#email(type='email' name='email' placeholder='Your Email' pattern=String.raw`[a-zA-z0-9._%+-]+@[a-zA-z0-9.-]+\.[a-zA-z]{2,}$` title='Please enter a valid email' required)

    .form__group
      label.form__label(for='password')
        span.form__star *
        | Password
      input.form__input#password(type='password' name='password' placeholder='Password' minlength=8 required)

    .form__group
      .form__text
        | By continuing you agree to our&nbsp;
        a.btn.btn--text(href='#') Terms of Condition
        | &nbsp;and&nbsp;
        a.btn.btn--text(href='#') Privacy Policy

    .form__btn-group
      button#login-form-btn.btn.btn--full.btn--round.btn--red.btn--load
        span.btn--load__content Login
        span.btn--load__load-content
          i.fa.fa-circle-o-notch.fa-spin
          | &nbsp;Loading

  ul.login-signup__extra-list
    li.login-signup__extra-list-item
      | Forgot your password?&nbsp;
      a.btn.btn--text(href='/forgotpassword') Reset Password
    li.login-signup__extra-list-item
      |  Didn't have an account?&nbsp;
      a.btn.btn--text(href='/signup') Signup