extends base/_account

include mixins/_account-box

block accountContent
  +accountBox('Password Management', [['/myAccount', 'Account'], ['#', 'Password Management']])
    form#update-my-password-form.form.account__form(action='#')
      .form__group
        label.form__label(for='currentPassword')
          span.form__star *
          | Current Password
        input.form__input#currentPassword(type='password' name='currentPassword' placeholder='Current Password' minlength=8 required)

      .form__group
        label.form__label(for='password')
          span.form__star *
          | New Password
        input.form__input#password(type='password' name='password' placeholder='New Password' minlength=8 required)

      .form__group
        label.form__label(for='passwordConfirm')
          span.form__star *
          | Confirm Password
        input.form__input#passwordConfirm(type='password' name='passwordConfirm' placeholder='Confirm Password' minlength=8 required)

      .form__btn-group
        button#update-my-password-form-btn.btn.btn--round.btn--red.btn--load
          span.btn--load__content
            i.fas.fa-check
            | &nbsp;Change Password
          span.btn--load__load-content
            i.fa.fa-circle-o-notch.fa-spin
            | &nbsp;Loading